:root {
  --color-brand-400: oklch(79% 0.10 56.8);
  --color-brand-500: oklch(76% 0.13 55.3);
  --color-brand-600: oklch(70% 0.13 55.5);
  --color-brand-700: oklch(66% 0.13 55.5);
  --color-brand-800: oklch(52% 0.12 55.5);
}