@use "@ulubit/foundations/breakpoints" as *;
@use 'sass:map';

.isolate {
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100dvh;
}

.container {
  margin-inline: auto;
  padding-inline: map.get($gutters, sm);

  @include at(sm) {
    padding-inline: map.get($gutters, sm);
  }
  
  @include at(md) {
    padding-inline: map.get($gutters, md);
    max-width: map.get($breakpoints, md);
  }

  @include at(lg) {
    padding-inline: map.get($gutters, lg);
    max-width: map.get($breakpoints, lg);
  }

  @include at(xl) {
    padding-inline: map.get($gutters, xl);
    max-width: map.get($breakpoints, xl);
  }

  @include at(2xl) {
    max-width: map.get($breakpoints, 2xl);
  }

  @include at(3xl) {
    max-width: map.get($breakpoints, 3xl);
  }

  @include at(4xl) {
    max-width: map.get($breakpoints, 4xl);
  }

  @include at(5xl) {
    max-width: map.get($breakpoints, 5xl);
  }
}

.page-layout {
  display: grid;
  grid-template-columns: repeat(1, minmax(0,1fr));
  grid-template-rows: 1fr auto;
  margin-inline: auto;
  padding-top: var(--header-height);
  min-height: calc(100dvh - var(--footer-height));
  position: relative;
}

.page-layout--home {
  overflow-x: hidden;

  @include at(xl) {
    grid-template-columns: var(--gutter-l) minmax(0, var(--breakpoint-2xl)) var(--gutter-l);
    justify-content: center;

    main {
      grid-column-start: 2;
    }
  }
}

:root {
  --content-padding: var(--space-s);
  --max-article-width: var(--container-7xl);
}