:root {
  --font-heading: var(--font-fira-sans);
  --font-body: var(--font-fira-sans), 'Helvetica Neue', Arial, "Liberation Sans", system-ui, -apple-system, sans-serif;
  --font-mono: var(--font-jetbrains-mono), "IBM Plex Mono", "Source Code Pro", Menlo, Consolas, monospace;
}