@use "@ulubit/foundations";
@use "@ulubit/foundations/breakpoints" as *;

@use "./base";
@use "./utilities";
@use "./typography";
@use "./layout";

/* Misc global tokens */
:root {
  --header-height: 3rem;
  --mobile-toc-height: 3rem;
  --footer-height: 2.5rem;
  --border-radius: var(--space-2xs);

  @include at(lg) {
    --header-height: 4rem;
    --mobile-toc-height: 0rem;
  }
}